version: '3'

services:
  mysql:
    container_name: mysql
    image: mysql/mysql-server:5.7
    environment:
      MYSQL_DATABASE: test
      MYSQL_ROOT_PASSWORD: hellokoding
      MYSQL_PASSWORD: hellokoding

  menu-microservice-product-type:
    image: product-type
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
    - mysql
    ports:
    - 8080:8080

  menu-microservice-product:
    image: product
    build:
      context: ./
      dockerfile: Dockerfile
    depends_on:
    - mysql
    ports:
    - 8081:8080